# Android编译产物
projectV3/app/.cxx/
projectV3/app/build/
projectV3/app/intermediates/
projectV3/app/obj/

# IDE配置文件
projectV3/.idea/
*.iml
.gradle/
local.properties

# 系统/临时文件
*.tmp
*.log
Thumbs.db
.DS_Store

# 若有其他无需上传的目录/文件，继续添加